@using Shared
@using Shared.Enums;
@using Shared.Enums.Extensions

<div class="playing-card @Card.Suit.ToName()" @onclick="HandleClick">
    <div class="corner top-left">
        <span class="value">@ValueSymbol</span>
        <span class="suit">@SuitSymbol</span>
    </div>
    <div class="center-suit">@SuitSymbol</div>
    <div class="corner bottom-right">
        <span class="value">@ValueSymbol</span>
        <span class="suit">@SuitSymbol</span>
    </div>
</div>



@code {
    [Parameter]
    public Card Card { get; set; } = new();

    [Parameter]
    public EventCallback<Card> OnClickCallback { get; set; }

    private string ValueSymbol => Card.Value.ToSymbol();
    private string SuitSymbol => Card.Suit.ToSymbol();

    private async Task HandleClick()
    {
        await OnClickCallback.InvokeAsync(Card);
    }
}
