@page "/game-info-box"

@using Shared
@using Shared.Enums
@using Shared.Enums.Extensions

<div class="game-info-box">
	<div class="content">
		<div>
			<p>
				<span class="contract-word">Contract:</span>
				<span class="contract @Contract.BidAction.Bid.Suit.ToLowercaseString()">
					@Contract.BidAction.Bid.Value.ToSymbol()
					@Contract.BidAction.Bid.Suit.ToSymbol()
				</span>
				<span>
					@GetDoubleOrRedouble()
				</span>
			</p>
		</div>
		<div class="tricks">
			<p class="ns">NS tricks: @NSTricks</p>
			<p class="ew">EW tricks: @EWTricks</p>
		</div>
	</div>

</div>


@code {
	[Parameter]
	public Contract Contract { get; set; } = new();

	[Parameter]
	public int NSTricks { get; set; }

	[Parameter]
	public int EWTricks { get; set; }

	private string GetDoubleOrRedouble()
	{
		if (Contract.IsDoubled)
		{
			return "X";
		}
		else if (Contract.IsRedoubled)
		{
			return "XX";
		}

		return "";
	}
}
