@using Frontend.Components.Shared

@page "/licitation-screen"

@rendermode InteractiveServer

<div class="licitation">
	<div class="licitation-container">
		<div class="licitation-screen">
			<div class="players">
				<div class="player">
					<p>Player 1</p>
				</div>
				<div class="player">
					<p>Player 2</p>
				</div>
				<div class="player">
					<p>Player 3</p>
				</div>
				<div class="player player4">
					<p>Player 4</p>
				</div>
			</div>
			<div class="bids">
				@foreach (var bid in bids) {
					<p>@bid.Key @bid.Value</p>
				}
			</div>
		</div>
		<div class="bidding-panel">
			<div class="panel-box-1">
				<div class="pass">
					<button>Pass</button>
				</div>
				<div class="x-and-xx">
					<button>X</button>
					<button>XX</button>
				</div>
			</div>
			<div class="panel-box-2">
				<div class="clubs">
					@for (int i = 1; i <= 7; i++)
					{
						int currentNumber = i;
						string suit = "club";
						<BiddingButton Class="@(currentNumber < lowestClub ? "hidden" : "")" OnClick="() => HandleClubButtonClick(currentNumber, suit)" Number=currentNumber Icon="♣" />
					}
				</div>
				<div class="diamonds">
					@for (int i = 1; i <= 7; i++)
					{
						int currentNumber = i;
						string suit = "diamond";
						<BiddingButton Class="@(currentNumber < lowestDiamond ? "hidden" : "")" OnClick="() => HandleClubButtonClick(currentNumber, suit)" Number=currentNumber Icon="♦" />
					}
				</div>
				<div class="hearts">
					@for (int i = 1; i <= 7; i++)
					{
						int currentNumber = i;
						string suit = "heart";
						<BiddingButton Class="@(currentNumber < lowestHeart ? "hidden" : "")" OnClick="() => HandleClubButtonClick(currentNumber, suit)" Number=currentNumber Icon="♥" />
					}
				</div>
				<div class="spades">
					@for (int i = 1; i <= 7; i++)
					{
						int currentNumber = i;
						string suit = "spade";
						<BiddingButton Class="@(currentNumber < lowestSpade ? "hidden" : "")" OnClick="() => HandleClubButtonClick(currentNumber, suit)" Number=currentNumber Icon="♠" />
					}
				</div>
			</div>
		</div>
	</div>
</div>


@code {
	private int lowestClub = 1;
	private int lowestDiamond = 1;
	private int lowestHeart = 1;
	private int lowestSpade = 1;
	private int currentPlayer = 0;
	private List<KeyValuePair<int, string>> bids = [];

	private void HandleClubButtonClick(int i, string suit)
	{
		lowestClub = i;
		lowestDiamond = i;
		lowestHeart = i;
		lowestSpade = i;

		switch (suit) 
		{
			case "spade":
				lowestSpade = i + 1;
				lowestHeart = i + 1;
				lowestDiamond = i + 1;
				lowestClub = i + 1;
				break;
			case "heart":
				lowestHeart = i + 1;
				lowestDiamond = i + 1;
				lowestClub = i + 1;
				break;
			case "diamond":
				lowestDiamond = i + 1;
				lowestClub = i + 1;
				break;
			case "club":
				lowestClub = i + 1;
				break;
		}

		bids.Add(new KeyValuePair<int, string>(i, suit));
	}
}
